.vscode
.venv

# Compiled python
__pycache__
*.pyc

# Backup files.
*~

# Distribution directory
dist

# Databricks 
.databricks

# MacOS metadata
.DS_Store

# OpenAPI Generator
# ignore default file path for generated stubs
/python
/typescript-node
# ignore openapi.json if it was curled into repository
openapi.json

# MacOS finder config
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
venv/
.venv/
.python-version
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
